<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz Game</title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css" />
</head>
<body>
<header>
    <h1>starwars - quiz game</h1>
</header>
<main><div class= "game--wrapper">{% block content %} {% endblock %}</div></main>

<footer>
    <p>Milestone Project</p>
</footer>
</body>
</html>