{% extends 'base.html' %} 
{% block content %}
<h2>Game</h2>
<div>
    {% with messages = get_flashed_messages() %} 
    {% for message in messages %}
    <div>{{ message }}</div>
    {% endfor %} 
    {% endwith %}
</div>
<div>
    <p>Username: {{ username }} </p>
    <p>Score: {{ score }} </p>
    <p>Attempts: {{ attempts }}</p>
</div>
<div>
    <p>Question {{ question_number }}</p>
    <p>{{ current_question }}</p>
</div>

<form method='POST'>
    {% for option in options %}
   
   <input type="radio" name="option" value="{{option}}" /> {{option}} </input> <br/>
    
    {% endfor %}
    <!--<input type="radio" name="option" value="option 1" /> Option 1 </input> <br/>-->
    <!--<input type="radio" name="option" value="option 2" /> Option 2 </input> <br/>-->
    <!--<input type="radio" name="option" value="option 3" /> Option 3 </input> <br/>-->
    <!--<input type="radio" name="option" value="option 4" /> Option 4 </input> <br/>-->
    <input type="submit" value="Submit" />
</form>

{% endblock %}
