{% extends 'base.html' %} 
{% block content %}
<h2>Game</h2>
<div>
    {% with messages = get_flashed_messages() %} 
    {% for message in messages %}
    <div>{{ message }}</div>
    {% endfor %} 
    {% endwith %}
</div>
<div>
    <p>Username: {{ username }} </p>
    <p>Score: {{ score }} </p>
    <p>Attempts: {{ attempts }}</p>
</div>
<div>
    <p>Question {{ question_number }}</p>
    <p>{{ current_question }}</p>
</div>

<form method='POST'>
    {% for option in options %}
   
   <input type="radio" name="option" value="{{option}}" /> {{option}} </input> <br/>
    
    {% endfor %}
    
    <input type="submit" value="Submit" />
</form>

{% endblock %}
